$corSecundario : #fb7730;
$corPrincipal : #fb5630;
$corCinzClaro : #cdc9cc;
$corCinza : #636474;
$brancoDiferente : #f5f5f5;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 100;
    user-select: none;
    // object-fit: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $corPrincipal;
    height: 70px;
    padding: 20px;
    color: #ffffff;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            display: flex;
            align-items: end;
            height: 60px;
        }
        img{
            height: 60px;
        }
    }
    .out-button a{
        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $corSecundario;
    ul{
        color: #ffffff;
        list-style: none;
        width: 80%;        
        display: flex;
        justify-content: space-around;
        li{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12%;
            padding: 15px;
            a{
                text-decoration: none;
                color: #fff;
            }
            &:hover{
                background: $corPrincipal;
            }
        }
    }
}
main{
    margin-left: 10%;
    width: 80%;
    .carrosel{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 90%;
        margin-left: 5%;
        height: 400px;
        img{
            height:100%;
            display: none;
            &.ativo{
                display: block;
            }
        }
        nav{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            ul{
                width: 40%;
                display: flex;
                justify-content: space-evenly;
                font-size: 20px;
                list-style: none;
                li{
                    width: 25%;
                    height: 10px;
                    margin: 0 10px 0 10px;
                    background: #cfcfcf;
                    &.ativo{
                        background: #ffffff;
                    }
                }
            }
        }
        button{
            color: #ffffff;
            position: absolute;
            font-size: 60px;
            background: transparent;
            border: none;
            padding: 100px 0 100px 0;
            cursor: pointer;
            &.backButton{
                left: 100px;
            }
            &.nextButton{
                right: 100px
            }
        }
    }
}
.promocao{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97px;
    img{
        height: 100%;
    }
}
.produtos{
    margin-top: 0px;
    .title{
        position: relative;
        width: 100%;
        text-align: center;
        color: $corSecundario;
        h2{
            padding: 40px;
        }
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0;
            background: $corSecundario;
        }
    }
    .content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px 30px;
        margin: 20px 0 20px 0;
        div{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.173);
            .desc{
                text-align:start;
                padding: 20px 0 50px 0;
            }
            .price{
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 10px;
                color: $corPrincipal;
            }
            .storage{
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 10px;
                color: $corCinzClaro;
            }
            img{
                height: 200px;
            }
        }
    }
}
footer{
    background: $brancoDiferente;
    & > section{
        width: 80%;
        margin-left: 10%;
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .imagens{
            section{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px 30px;
            }
        }
        .qr-code{
            .image-qr{
                width: 150px;
                height: 150px;
                margin: 20px 0 20px 0;
            }
            img{
                margin: 20px 0 20px 0;
                width: 150px;
                height: 50px;
            }
        }
        nav{
            width: 20%;
            padding: 10px;
            margin: 10px;
            height: 500px;
            display: flex;
            flex-direction: column;
            margin-bottom: 150px;
            h2{
                font-weight: bold;
                font-size: 20px;
                padding: 20px 0 20px 0;
            }
            a,div{
                text-decoration: none;
                color: $corCinza;
                margin: 10px 0 10px 0;
            }
            img{
                height: 30px;
            }
        }
    }
    &>div{
        text-align: center;
        width: 100%;
        padding: 30px;
    }
    .copyright{
        padding: 0;
        width: 80%;
        margin-left: 10%;
        div{
            padding: 20px;
        }
    }
}
@font-face {
    font-family: 'Roboto';
    src: url('./view/font/Roboto/Roboto-Regular.ttf');
    /* Adicione outros formatos de fonte aqui, se necessário */
}