$corSecundario : #fb7730;
$corPrincipal : #fb5630;
$corCinzClaro : #cdc9cc;
$corCinza : #636474;
$brancoDiferente : #f5f5f5;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 100;
    user-select: none;
    // object-fit: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $corPrincipal;
    height: 70px;
    padding: 20px;
    color: #ffffff;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            display: flex;
            align-items: end;
            height: 60px;
        }
        img{
            height: 60px;
        }
    }
    .out-button a{
        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $corSecundario;
    ul{
        color: #ffffff;
        list-style: none;
        width: 80%;        
        display: flex;
        justify-content: space-around;
        li{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12%;
            padding: 15px;
            a{
                text-decoration: none;
                color: #fff;
            }
            &:hover{
                background: $corPrincipal;
            }
        }
    }
}
main{
    margin-left: 10%;
    width: 80%;
    padding: 20px;
    h2{
        color: $corPrincipal;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid $corPrincipal;
    }
    
    th, td {
        padding: 15px;
        text-align: left;
        border: 1px solid $corPrincipal;
    }
    
    th {
        background-color: $corPrincipal;
        color: #fff;
        font-weight: bold;
    }
    
    td {
        background-color: $brancoDiferente;
        color: $corCinza;
    }
    
    tr:nth-child(even) {
        background-color: $corCinzClaro;
    }
    
    tr:hover {
        background-color: $corSecundario;
        color: #fff;
    }
    
    tbody tr td {
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

footer{
    background: $brancoDiferente;
    & > section{
        width: 80%;
        margin-left: 10%;
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .imagens{
            section{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px 30px;
            }
        }
        .qr-code{
            .image-qr{
                width: 150px;
                height: 150px;
                margin: 20px 0 20px 0;
            }
            img{
                margin: 20px 0 20px 0;
                width: 150px;
                height: 50px;
            }
        }
        nav{
            width: 20%;
            padding: 10px;
            margin: 10px;
            height: 500px;
            display: flex;
            flex-direction: column;
            margin-bottom: 150px;
            h2{
                font-weight: bold;
                font-size: 20px;
                padding: 20px 0 20px 0;
            }
            a,div{
                text-decoration: none;
                color: $corCinza;
                margin: 10px 0 10px 0;
            }
            img{
                height: 30px;
            }
        }
    }
    &>div{
        text-align: center;
        width: 100%;
        padding: 30px;
    }
    .copyright{
        padding: 0;
        width: 80%;
        margin-left: 10%;
        div{
            padding: 20px;
        }
    }
}
@font-face {
    font-family: 'Roboto';
    src: url('./../../font/Roboto/Roboto-Regular.ttf');
    /* Adicione outros formatos de fonte aqui, se necessário */
}