*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 75%;
    margin-left: 10%;
}
main .ProdImage{
    padding: 20px;
}
main .ProdImage img{
    object-fit: cover;
}
main .shirts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 70%;
    padding: 25px;
}
main .shirts #select{
    border: 1px solid #fb5630;
}
main .DescProd *{
    margin-top: 10px;
}
main .shirts img{
    height: 80px;
}
main .DescProd{
    width: 50%;
}
main .DescProd h2{
    font-size: 40px;
}
main .DescProd .price{
    color: #fb5630;
    font-weight: bold;
    font-size: 45px;
}
main .DescProd .scol{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 50px;
}
main .DescProd .scol span{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    color: #ccc;
}
main .DescProd button{
    background: #fb5630;
    color: #ffffff;
    padding: 20px;
    border: none;
}
main .DescProd section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%;
}
main:hover{
    border: 2px solid #fb5630;;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../font/Roboto/Roboto-Regular.ttf');
    /* Adicione outros formatos de fonte aqui, se necessário */
}